.navbar{
    height: 50px;
    background-color:#003580;
    display: flex;
    justify-content: center;
}
.navcontainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: bolder;
}
.navbutton{
        margin-left: 20px;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        color: blue;
}